@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(255, 244, 244);
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    top: 0;   
    z-index: 1;
}

.title {
    background-color: rgba(82, 82, 255, 0.649);
    padding: 1.5rem 0.5rem;
    letter-spacing: 0.1rem;
}

.nav {
    padding: 0.5rem;
    background-color: rgba(23, 188, 23, 0.763);
}

.nav a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.2rem;
    height: 37.4rem;
    column-gap: 1rem;
}

.conteudo {
    background-color: rgb(238, 179, 69);
    padding: 1.5rem 0.5rem;
}

footer {
    padding: 0.5rem;
    background-color: rgba(62, 57, 57, 0.763);
}